html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #111;
  background-color: #111;
}

hr {
  border: 1px solid #111;
}

.card {
  padding: 2em;
  margin: 1em;
  width: 25em;
  background-color: #ee0;
}

@media screen and (max-width: 35em) {
  .card {
    width: auto;
  }
}

